@font-face {
  font-family: 'dock11';
  src: url("../assets/[fee]heavy_dock11.otf") format("opentype");
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #fff;
  border-left: 30px solid #444444;
}
#name {
  border-right: 30px solid #444444;
  padding: 20px;
  text-align: center;
  width: auto;
  position:fixed
}
#name h1{
  padding: 0;
  margin: 0;
  font-family: 'dock11';
  font-size: 40px;
}
#info {
  margin: 7px 0px 0px 318px;
  text-align: left;
  position: fixed;
}
#info ul {
  list-style: none;
}
#info ul li a{
  text-decoration: none;
}
#navbar {
  background: #444;
  height: 29px; color: #fff; text-align: left;
  margin: 89px 0px;
  width: 100%;
  position: fixed;
}
#navbar ul {
  list-style: none;
  margin: 0; padding: 0;
}
#navbar ul li {
    border-left: 3px solid white;
    display: inline;
    list-style-type: none;
    padding-left: 8px;
    padding-right: 36px;
}
#navbar ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: #ccc;
}
#page {
  border-top: 1px solid #ebebeb;
  padding: 20px;
  margin: 118px 0px;
  width: 100%;
  position: fixed;
}