<div id="education">
      <h4>EDUCATION</h4>
	  <br>
        <strong>Candidate for Bachelor of Computer Science, Hon., Business Option, Co-op, University of Waterloo</strong>
        <br>
        Waterloo, Ontario <span class="jobInfo">September 2009 - Present</span>
      <ul type="disc">
        <li>Excellent academic standing, President's  Scholarship, Outstanding (3 of 4) and Excellent (1 of 4) co-op evaluations</li>
        <li>
          Completed a part time research and development position in Bioinformatics
        </li>
        <li>
          Curriculum highlights:
          <ul type="circle">
			<li>Graphics, Artificial Intelligence, Data Structures and Algorithms (C++)</li>
            <li>Operating Systems (C and Assembly)</li>
            <li>Communication in Math and CS, Genres of Business Communication</li>
            <li>Currently Enrolled: Game Mechanics and Gameplay Programing, Imaging and Animation (on exchange at RMIT's Melbourne city campus)</li>
          </ul>
        </li>
      </ul>
    </div>
    
    <div id="employmentExperience">
      <h4>EMPLOYMENT EXPERIENCE</h4>
      <br>
	  
	  <strong>Microsoft Games Studios (Black Tusk), Software Development Engineer Intern &mdash; Multiplayer</strong>
      <br>
      Vancouver, British Columbia <span class="jobInfo">September 2012 - February 2013</span>

      <ul type="disc">
        <li>
		  Acted as one of two developers in Black Tusks pre-production multiplayer pod, rapidly prototyping and iterating on
		  mechanics for a core, AAA, new IP franchise for Microsoft platforms (C++, confidential engine technologies)
        </li>
        <li>
          Collaborated directly with designers to gather, anticipate, and satisfy gameplay requirements with minimal supervision
		</li>
		<li>
          Actively sought best practices and design patterns from the team to improve code quality; absorbed and applied all
		  criticisms and recommendations from the paired code review process 
		</li>
		<li>
		  Organized a series of "Team Tour Sit-Downs" for Black Tusks' interns; solicited senior engineers
		  to describe their positions, answer questions, and offer advice to aspiring game developers
        </li>
      </ul>
	  
      <strong>Electronic Arts (Playfish), Co-op Software Engineer &mdash; Game Client/Tools</strong>
      <br>
      Montréal, Québec <span class="jobInfo">January 2012 - April 2012</span>

      <ul type="disc">
        <li>
          Designed and implemented the web client for the studio's new game data creation
          and modification system (HTML/JS/CSS, PHP, REST, Jetty, Java, MySQL)
        </li>
        <li>
          Combined OO principles, PHP, the Underscore.js templating library, and a RESTful
          XML service to build a completely data-driven client able to support new games and
          datatypes on-the-fly with minimal extra development time
        </li>
        <li>
          Learned the stack, developed the system's web client from scratch with another
          co-op, and greatly extended the service and database layers in three months 
          with little to no supervision
        </li>
        <li>
          Implemented a strong pseudo-random multicursal maze/map generator for Playfish's
          "Game Jam"; took initiative and sought more work and challenge wherever possible
        </li>
      </ul>

      <strong>Ontario Teachers' Pension Plan, Programmer  Analyst</strong>
      <br>
      Toronto, Ontario <span class="jobInfo">May 2011 - September 2011</span>

      <ul type="disc">
        <li>
          Enhanced the company's liquidity risk calculation engine, adding a
          series of user-friendly analyst-facing reports, and code for additional
          engine parameters in a large, n-tier C#/Silverlight solution
        </li>
        <li>
          Collaborated extensively with the Service Architecture group to 
          leverage in-house tools to drastically reduce development time and cost 
          for report creation
        </li>
        <li>
          Participated in Solutions Engineering team's Optimization 
          Challenge, achieving a 24 fold speedup; won the  Co-op Case Study 
          Competition among 6 teams of 7-8 students
        </li>
      </ul>
      
      <strong>Conestoga-Rovers and Associates, Student IS  Programmer</strong>
      <br>
      Waterloo, Ontario <span class="jobInfo">September 2010 - December 2010</span>
      
      <ul type="disc">
        <li>
          Maintained and improved existing C# and VB.NET applications 
          in Visual Studio 2008, most notably those responsible for importing 
          report and legal contract scans into the document database (SQL 
          back-end) for easy search and retrieval 
        </li>
        <li>
          Developed scripts to allow the implementation of new photocopier 
          terminals, to enable the tracking and billing of print resources on a 
          project/client basis to enhance cost recovery 
        </li>
        <li>
          Communicated directly and independently with vendors and corporate
          partners to maximize the usability and reliability of corporate systems
          and technologies
        </li>
      </ul>
    </div>